.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid;
  align-items: center;
  justify-content: space-between;
}
.nav li{
  display: inline-block;
  justify-content: flex-end;
  padding: 10px;
  color: black;
  margin-right: 20px;
  flex-grow: 1;
}
.logo {
  color: MediumAquamarine;
  padding: 10px;
  display: inline-flex;
  margin-left: 20px;
  border: 1px solid;
  align-items: center;
  width: 200px;
  flex-grow: 2;
}
.header p {
  margin-left: 5px;
  display: flex-end;
}
.main {
  display: flex;
  font-family: Georgia;
  padding: 20px;
}
.column-large, .column-medium, .column-small {
  border: 1px solid;
}
.headline {
  border: 1px solid;
}
h2, h3 {
  border: 1px solid;
}
